@model Crowdfunding.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <input asp-for="MemberId" type="hidden" class="form-control" value="@ViewData["MemberId"]" />
            </div>
            <div class="form-group">                
                <input asp-for="ProjectId" type="hidden" class="form-control" value="@ViewData["ProjectId"]" />
            </div>
            <div class="form-group">
                @*<label asp-for="Contribution" class="control-label"></label>
                <input asp-for="Contribution" class="form-control" />
                <span asp-validation-for="Contribution" class="text-danger"></span>*@
                <input asp-for="Contribution" type="hidden" class="form-control" value="@ViewData["Contribution"]" />
            </div>
            <div class="form-group">
                @*<label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>*@
                <input asp-for="Date" type="hidden" class="form-control" value="@ViewData["Date"]" />
            </div>
            <div class="form-group">
                <label asp-for="PackagesId" class="control-label"></label>
                <select asp-for="PackagesId" class ="form-control" asp-items="ViewBag.PackagesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

