@model Crowdfunding.Models.Project

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="project-created-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label">Title</label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label"></label>
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="MemberId" type="hidden" class="form-control" value="@ViewData["MemberId"]" />
            </div>
            <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label">Description</label>
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectCategoryId" class="control-label">Category</label>
                <select asp-for="ProjectCategoryId" class="form-control" asp-items="ViewBag.ProjectCategoryId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>*@
                <input asp-for="StartDate" type="hidden" class="form-control" value="@ViewData["StartDate"]" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectLocation" class="control-label">Location</label>
                <input asp-for="ProjectLocation" class="form-control" />
                <span asp-validation-for="ProjectLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <input type="submit" id="submit-project" value="Create" class="btn btn-default" />
            </div>
        </form>
        @*<div id="success-created" class="hidden">            
            <a asp-controller="members" asp-action="projects">Create Reward</a>
        </div>
        <div id="failed-created" class="hidden">
            <a asp-controller="projects" asp-action="create">Create new Projects</a>
            <a asp-controller="projects" asp-action="index">Create new Projects</a>
        </div>*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

