
@{
    ViewData["Title"] = "ProjectsShow";
}

<h2>ProjectsShow</h2>



<!-- Product T shirt Page -More Detailed -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h2>TItle</h2>
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="~/images/Airbnb.jpg" /></div>
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>Project  Name</div></h3>
                        <hr>
                        <h4>Name</h4>
                    </div>
                    <div class="panel panel-default text-center">
                        <div class="rating">
                            <h3><div class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>  Category</div></h3>
                            <hr>
                            <h4>Basic</h4>
                        </div>
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-comment"></span>   Description</div></h3>
                        <hr>
                        <h4>Project Description </h4>
                    </div>
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>  Amount</div></h3>
                        <hr>
                        <h2><font color="purple">50€ </h2>   </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tracking Bar -->
<div class="container">
    <div class="row" style="margin-top:40px">
        <div class="panel">
            <div class="panel-heading" hidden>
                <h3 class="panel-title">
                    Project's Progress/h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="col-sm-3">
                        <strong style="font-size:large">Details</strong>
                        <div>
                            Starts: May 1st, 2017 <br />
                            Ends: May 30th, 2017 <br />
                            1 Month 15 Days remaining
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress" style="margin-top:35px">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                            <span class="progress-completed">60%</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div style="margin-left:30px">
                            Goal
                            <h2>$100,00</h2>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="pull-right" style="width:20px; height:100px">
                            <div class="clickable"><i class="glyphicon glyphicon-resize-small glyphicon-padded"></i></div>
                            <div class="clickable"><i class="glyphicon glyphicon-edit glyphicon-padded"></i></div>
                            <div class="clickable"><i class="glyphicon glyphicon-signal glyphicon-padded"></i></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<br>
<br>
<br>
<br>



<!--=============Other projects you May Like==================code==========================-->
<section class="module properties">
    <div class="container">
        <div class="module-header">
            <h2>Other Projects you might Like </h2>
            <img src="divider.png" alt="">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="property shadow-hover">
                    <a href="#" class="property-img">
                        <div class="img-fade"></div>

                        <div class="property-color-bar"></div>
                        <img src="~/images/Innovation.jpeg" alt="">
                    </a>
                    <div class="property-content">
                        <div class="property-title">
                            <h4><a href="#">Modern Family Home - Innovate</a></h4>
                        </div>

                    </div>
                    <!-- Add icon library -->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                    <span class="heading">User Rating</span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>4.1 average based on 254 reviews.</p>
                    <hr style="border:3px solid #f1f1f1">

                    <div class="heading">Progress</div>

                    <div class="row">
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>





                        <div class="property-footer">
                            <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                            <span class="right">
                                <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                <a href="#"><i class="fa fa-share-alt"></i></a>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="property shadow-hover">
                    <a href="#" class="property-img">
                        <div class="img-fade"></div>

                        <div class="property-color-bar"></div>
                        <img src="~/images/House.jpg" alt="">
                    </a>
                    <div class="property-content">
                        <div class="property-title">
                            <h4><a href="#">Beautiful Waterfront Condo</a></h4>
                            <p class="property-address"><i class="fa fa-map-marker icon"></i>123 Smith Dr, Annapolis, MD</p>
                        </div>
                        <table class="property-details">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-bed"></i> 3 Beds</td>
                                    <td><i class="fa fa-tint"></i> 2 Baths</td>
                                    <td><i class="fa fa-expand"></i> 25,000 Sq Ft</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="property-footer">
                        <span class="left"><i class="fa fa-calendar-o icon"></i> 1 week ago</span>
                        <span class="right">
                            <a href="#"><i class="fa fa-heart-o icon"></i></a>
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="property shadow-hover">
                    <a href="#" class="property-img">
                        <div class="img-fade"></div>

                        <div class="property-color-bar"></div>
                        <img src="~/images/Medicine.jpeg" alt="">
                    </a>
                    <div class="property-content">
                        <div class="property-title">
                            <h4><a href="#">Modern Family Home</a></h4>
                            <p class="property-address"><i class="fa fa-map-marker icon"></i>123 Smith Dr, Annapolis, MD</p>
                        </div>
                        <table class="property-details">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-bed"></i> 3 Beds</td>
                                    <td><i class="fa fa-tint"></i> 2 Baths</td>
                                    <td><i class="fa fa-expand"></i> 25,000 Sq Ft</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="property-footer">
                        <span class="left"><i class="fa fa-calendar-o icon"></i> 2 weeks ago</span>
                        <span class="right">
                            <a href="#"><i class="fa fa-heart-o icon"></i></a>
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end row -->
    </div><!-- end container -->
</section>











<!--===============================code==========================-->
