@model List<Crowdfunding.Models.Project>
@{
    ViewData["Title"] = "Funded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="display-4 text-center"> Projects Funded </h3>



<div class="container container mt-4 mb-5">

    <hr class="bg-dark mb-4 w-25">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.ProjectName)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                        @Html.ActionLink("Read More", "ProjectsShow", "Projects", new { id = item.ProjectId }, new { @class = "btn btn-primary rounded-0 mb-2" })
                    </div>
                </div>
            </div>
        }

    </div>

</div>

